.itemtop .card-image{
	position: relative !important;
}

.itemtop .card-image .fixed-action-btn{
	position: relative !important;
	right: 0 !important
}

.itemtop .card-image .fixed-action-btn .btn-floating.btn-large.halfway-fab{
	right: 10px !important
}

.itemtop .card-image .fixed-action-btn .fixed-action-btn ul{
	margin-left: 80px !important
}

.itemtop .fixed-action-btn ul{
	bottom:45px !important;
	right: 15px !important;
	left: inherit !important
}

.itemtop .card-content{
	padding: 15px 10px !important
}