.badgesfilter {
    max-width: 150px;
    padding: 0 0
}

.badgesfilter span {
    margin-bottom: 8px !important;
    margin-left: 0px !important;
    padding: 0 2px !important;
    height: 40px;
    line-height: 40px;
    width: 100% !important
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    /*height: 20px;*/
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

.product-option #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

.product-option #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

.product-option #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px 0 0 0!important;
    width: 40px;
    height: 42px;
}

.product-option input[type=number]::-webkit-inner-spin-button,
.product-option input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 1280px) {
    #modal1 {
        width: 100% !important;
        height: 75% !important;
        max-height: 75% !important
    }
}

@media (max-width: 992px) {
    #modal1 {
        width: 100% !important;
        height: 90% !important;
        max-height: 90% !important;
        top: 5% !important
    }
    .badgesfilter span {
        background-color: #ef6c00 !important
    }
}

@media (max-width: 600px) {
    .badgesfilter {
        position: absolute !important;
        right: 8px !important;
        top: 8px !important;
        z-index: 10
    }
}
